h1,
p,
label,
a {
  color: whitesmoke;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
}

.pageLink {
  cursor: pointer;
}

.pageLink:hover {
  color: orangered;
}

.pageLink:hover >span{
  color: white;
}

.pageLink>span:hover{
  color: white;
}
