/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;

  /* color pallete */
  --almacen: #2BD65D;
  --bebidas: #2B42D6;
  --cafe: #754523;
  --edulcorantes: #A33C9E;
  --galletitas: #A36A3C;
  --medicamentos: #49B9CC;
  --nucete: #CC9C49;
  --kiosco: #E33030;
  --make: #E3AA30;
  --varios: #292929;
  --te: #2DC234;
  --yerba: #196B1D;
  --background: #242424;

  --gold-gf-1: #E6C452;
  --gold-gf-2: #B98A2E;
  --red-gf-1: #CC3E1F;
  --red-gf-2: #962812;
  --background-gf: #131011;
}

html {
  font-size: 16px;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  /* max-width: 100%; */
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
10. Create a root stacking context
 */
#root,
#__next {
  isolation: isolate;
}


body {
  background-color: var(--background);
}

.notFound {
  height: 300px;
  width: min(600px, 90%);
  background-color: var(--background);
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
  padding: 5%;
  border-radius: 2rem;
}

.notFound>h2 {
  font-size: clamp(1rem, calc(1vw + 2rem), 2rem);
  margin-bottom: 10%;
}

.notFound>p,
.notFound>a {
  font-size: clamp(1rem, calc(1vw + 1rem), 1.2rem);
}

.notFound>a {
  color: var(--yerba);
  transition: color .2s ease-in-out;
  text-decoration: none;
}

.notFound>a:hover {
  color: var(--te);
  text-decoration: none;
}

section,
.notFoundSection {
  margin: 0 auto;
  max-width: 1600px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-blend-mode: soft-light;
}

.section-gf {
  background-color: var(--background-gf);
}

.notFoundSection {
  justify-content: center;
}

section:first-of-type {
  height: 100dvh;
}

.header-row,
.row {

  display: flex;
  justify-content: center;
  gap: 1.6%;
}

.header-row {
  margin-top: 40%;
}

.logo {
  /* margin-right: min(2%, 2rem); */
  /* z-index: 1; */
  height: auto;
  /* width: min(50%, 300px); */
}

.index-logo {
  transform: rotate(180deg);
  scale: 200%;
}

.index-categories {
  display: flex;
  gap: 5%;
  height: 50dvh;
  align-items: center;
}

.index-list-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.index-category {
  border-radius: 0% 0% 1rem 1rem;
  font-size: clamp(1rem, 2vw + 1rem, 1.5rem);
  font-weight: bold;
  text-align: center;
  list-style: none;
  z-index: 2;
  width: 350px;
}

.index-category-gf{
  border-radius: 0% 1rem 1rem 0%;
  text-align: left;
  padding-left: 1rem;
}

.index-category-gf:nth-child(even){
  background: linear-gradient(180deg, var(--gold-gf-1) 10%, var(--gold-gf-2) 100%);
}

.index-category-gf:nth-child(odd){
  background: linear-gradient(180deg, var(--red-gf-1) 10%, var(--red-gf-2) 100%);
}

.index-category>a {
  text-decoration: none;
  color: whitesmoke;
  width: 100%;
  display: inline-block;
}

.loader {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: whitesmoke #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 100dvh;
}

.loader-container {

  display: flex;
  border: 2px solid whitesmoke;
  color: whitesmoke;
  border-radius: .7rem;
  padding: 2rem;
  gap: 1rem;
}

.header {
  transform: rotate(180deg);
  border-radius: 0% 0% 1rem 1rem;
  color: whitesmoke;
  text-align: center;
  font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
  padding: min(5%, 1rem);
  padding-top: 0px;
  min-width: 40%;
}

.header-almacen {
  background-color: var(--almacen);
}

.header-bebidas {
  background-color: var(--bebidas);
}

.header-cafe {
  background-color: var(--cafe);
}

.header-edulcorantes {
  background-color: var(--edulcorantes);
}

.header-galletitas {
  background-color: var(--galletitas);
}

.header-medicamentos,
.header-higiene {
  background-color: var(--medicamentos);
}

.header-nucete {
  background-color: var(--nucete);
}

.header-kiosco {
  background-color: var(--kiosco);
}

.header-make {
  background-color: var(--make);
}

.header-varios {
  background-color: var(--varios);
}

.header-te {
  background-color: var(--te);
}

.header-yerba,
.header-promocion {
  background-color: var(--yerba);
}

.gf-header{
  background-color: var(--red-gf-2);
  border-radius: 0% 1rem 1rem 0%;
  text-align: left;
  padding: min(5%, 1rem);
}

.footer {
  margin-left: min(2%, 2rem);
  z-index: 1;
}

.footer-link {
  color: whitesmoke;
  font-size: clamp(.3rem, .6vw + .3rem, 1.2rem);
  font-weight: 800;
  text-decoration: none;
}

.row {
  margin-top: 5%;
  max-width: 100%;
}

.column {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: 55ch;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

.almacen {
  border: solid 2px var(--almacen);
  /* border-top: solid 20px var(--almacen); */
}

.bebidas {
  border: solid 2px var(--bebidas);
  /* border-top: solid 20px var(--bebidas); */
}

.cafe {
  border: solid 2px var(--cafe);
  /* border-top: solid 20px var(--cafe); */
}

.edulcorantes {
  border: solid 2px var(--edulcorantes);
  /* border-top: solid 20px var(--edulcorantes); */
}

.galletitas {
  border: solid 2px var(--galletitas);
  /* border-top: solid 20px var(--galletitas); */
}

.medicamentos,
.higiene {
  border: solid 2px var(--medicamentos);
  /* border-top: solid 20px var(--medicamentos); */
}

.nucete {
  border: solid 2px var(--nucete);
  /* border-top: solid 20px var(--nucete); */
}

.kiosco {
  border: solid 2px var(--kiosco);
  /* border-top: solid 20px var(--kiosco); */
}

.make {
  border: solid 2px var(--make);
  /* border-top: solid 20px var(--make); */
}

.varios {
  border: solid 2px var(--varios);
  /* border-top: solid 20px var(--varios); */
}

.te {
  border: solid 2px var(--te);
  /* border-top: solid 20px var(--te); */
}

.yerba,
.promocion {
  border: solid 2px var(--yerba);
  /* border-top: solid 20px var(--yerba); */
}

.gf-border{
  border: solid 2px var(--red-gf-2);
}

.product {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.prod-image {
  margin: 0 auto;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1/1 !important;
  object-fit: contain;
}

.ribbon {
  max-width: 100px;
  position: absolute;
  top: -50px;
  right: -20px;
  z-index: 10;
}

.inactive {
  filter: grayscale();
}

.prod-info {
  padding: min(.5rem, 2%);
}

.prod-info-gf {
  background: linear-gradient(180deg, var(--gold-gf-1) 10%, var(--gold-gf-2) 100%);
  color: var(--red-gf-2);
}

.product:nth-child(even)>.prod-info-gf{
  border-radius: 0 0 0.9rem 0;
}
.product:nth-child(odd)>.prod-info-gf{
  border-radius: 0 0 0 0.9rem;
}

.title {
  height: 2.5em;
  text-align: center;
  font-size: clamp(.3rem, .6vw + .3rem, 1.2rem);
}

.price {
  margin-top: 6%;
  font-size: clamp(.7rem, .6vw + .7rem, 1.6rem);
  color: whitesmoke;
  text-align: center;
  font-weight: 800;
  border-radius: 1em;
}

.almacen-price {
  background-color: var(--almacen);
  border-color: var(--almacen);
}

.bebidas-price {
  background-color: var(--bebidas);
  border-color: var(--bebidas);
}

.cafe-price {
  background-color: var(--cafe);
  border-color: var(--cafe);
}

.edulcorantes-price {
  background-color: var(--edulcorantes);
  border-color: var(--edulcorantes);
}

.galletitas-price {
  background-color: var(--galletitas);
  border-color: var(--galletitas);
}

.medicamentos-price,
.higiene-price {
  background-color: var(--medicamentos);
  border-color: var(--medicamentos);
}

.nucete-price {
  background-color: var(--nucete);
  border-color: var(--nucete);
}

.kiosco-price {
  background-color: var(--kiosco);
  border-color: var(--kiosco);
}

.make-price {
  background-color: var(--make);
  border-color: var(--make);
}

.varios-price {
  background-color: var(--varios);
  border-color: var(--varios);
}

.te-price {
  background-color: var(--te);
  border-color: var(--te);
}

.yerba-price,
.promocion-price {
  background-color: var(--yerba);
  border-color: var(--yerba);
}

.gf-price{
  background: linear-gradient(180deg, var(--red-gf-1) 10%, var(--red-gf-2) 100%);
  border-color: var(--red-gf-1);
}

/* navbar starts here */
.hidden {
  display: none !important;
}

@keyframes in-out {
  from {
    right: -30%;
  }

  to {
    right: 0%;
  }
}

.side-menu {
  display: initial;
  position: fixed;
  top: 0px;
  overflow: hidden;
  right: 0%;
  background-color: whitesmoke;
  height: 100dvh;
  min-width: min(30%, 400px);
  z-index: 3;
}

.side-menu>h2 {
  margin-left: 3%;
  width: fit-content;
  cursor: pointer;
  color: red;
}

.anim-in {
  animation: in-out 1s ease-in-out;
}

.anim-out {
  animation: in-out 1s ease-in-out reverse;
}

.side-menu-item {
  list-style-type: none;
  margin-bottom: .5rem;
  font-size: clamp(.9rem, calc(1vw + .5rem), 1.6rem);
  scale: 100%;
  transition: scale .3s ease-in-out;
}

.side-menu-item:hover {
  scale: 105%;
}

.side-menu-item>a {
  text-decoration: none;
  color: black;
  transition: color .2s ease-in-out;
}

.side-menu-item:nth-child(1)>a:hover {
  color: var(--almacen);
}

.side-menu-item:nth-child(2)>a:hover {
  color: var(--bebidas);
}

.side-menu-item:nth-child(3)>a:hover {
  color: var(--cafe);
}

.side-menu-item:nth-child(4)>a:hover {
  color: var(--edulcorantes);
}

.side-menu-item:nth-child(5)>a:hover {
  color: var(--galletitas);
}

.side-menu-item:nth-child(6)>a:hover {
  color: var(--medicamentos);
}

.side-menu-item:nth-child(7)>a:hover {
  color: var(--nucete);
}

.side-menu-item:nth-child(8)>a:hover {
  color: var(--kiosco);
}

.side-menu-item:nth-child(9)>a:hover {
  color: var(--make);
}

.side-menu-item:nth-child(10)>a:hover {
  color: var(--varios);
}

.side-menu-item:nth-child(11)>a:hover {
  color: var(--te);
}

.side-menu-item:nth-child(12)>a:hover {
  color: var(--yerba);
}

.side-menu-item:nth-child(13)>a:hover {
  color: var(--yerba);
}

.menu-toggle {
  background-color: whitesmoke;
  padding: min(5%, 1rem);
  border: 1px solid black;
  border-radius: .5em;
  color: black;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 2;
  cursor: pointer;
}

/* SVG starts here */
.svg {
  /* position: absolute; */
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  z-index: 1;
}

/* SVG SUPERIOR */
.section-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: url("data:image/svg+xml;utf8,\<svg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'> <path d='M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z' className='shape-fill'></path> </svg>");
  background-color: linear-gradient(53deg, rgba(230, 196, 82, 1) 0%, rgba(186, 52, 23, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  z-index: -1;
}

/* SVG INFERIOR */
.section-footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 150px;

  background: url("data:image/svg+xml;utf8,\<svg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'> <path d='M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z' className='shape-fill'></path> </svg>");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
}

.index {
  min-height: 40dvh;
  padding-bottom: 5dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.index::before {
  min-height: 10dvh !important;
}

.index-header {
  width: auto;
  color: black;
  opacity: 90%;
}

.section-header {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(180deg);
}

.section-header-gf{
  flex-direction: row;
  justify-content: center;
}

.section-footer {
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  transform: none;
}

.category-header {
  gap: 10%;
  height: auto;
  padding: 3%;
}

.header-logo {
  transform: rotate(180deg);
  width: 400px;
}


/** For mobile devices **/
@media (max-width: 767px) {
  .svg svg {
    width: calc(165% + 1.3px);
  }

}

@media (min-width: 500px) and (max-width: 1000px) {

  .column {
    width: auto;
  }

  .index-logo {
    scale: 50%
  }

  .index-header {
    margin-bottom: 0;
    font-size: clamp(.8rem, 1vw + .5rem, 3rem);
    width: auto;
    padding: 0;
    margin-right: -5%;
    margin-left: 5%;
  }

  .index {
    flex-direction: initial;
  }

  .index-categories {
    height: 10dvh;
    margin-top: 10%;
  }

  .index-category {
    font-size: clamp(.8rem, .5vw + .5rem, 2.5rem);
    width: 200px;
  }

  .category-header {
    height: auto;
    gap: 0;
  }

  .header {
    margin-bottom: 2%;
    padding: 0;
  }

  .side-menu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 479px) {


  .index {
    height: 30dvh;
  }

  .index-logo {
    scale: 80%;
  }

  .index-header {
    margin-bottom: 10%;
    width: 100%;
    font-size: clamp(1rem, .5vw + 1rem, 1.125rem);
  }

  .index-categories {
    gap: 2%;
    height: 60dvh;
  }

  .index-category {
    width: 200px;
  }

  .header-logo {
    width: 80%;
  }

  .header {
    width: 95%;
  }

  .category-header {
    gap: 1rem
  }

  .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
  }

  .column {
    width: 95%;
  }

  .price {
    font-size: clamp(1.2rem, 1vw + 1.2rem, 1.5rem);
  }

  .title {
    height: 4em;
    font-size: clamp(1rem, .5vw + 1rem, 1.125rem);
  }
}

/* ----------- Catalog Section ----------- */

@page {
  size: A4;
  margin: 20mm;
  width: 210mm;
  height: 297mm;
}

@media print {

  body {
    margin: 0;
    padding: 0;
    width: 210mm;
    height: 297mm;
  }


  .section:first-of-type {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .section {
    width: 210mm;
    height: 297mm;
    box-sizing: border-box;
    overflow: hidden;
    break-inside: avoid;
    display: grid !important;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    align-content: space-between;
  }


  .header-row,
  .row {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    break-inside: avoid;
    page-break-inside: avoid;
    page-break-inside: avoid;
    margin-top: 0% !important;
    z-index: 1;
  }

  .row {
    margin-bottom: 1.5% !important;
  }

  .header {
    width: auto;
  }

  .ribbon {
    top: -45px;
    right: -10px;
    max-width: 60px !important;
  }

  .prod-image {
    width: 127px !important;
    height: 100px !important;
  }

  #medicamentos-2 .prod-image {
    width: 130px !important;
  }

  .no-print {
    display: none !important;
  }

  .index {
    display: flex;
    padding-bottom: 200px !important;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
  }

  .index::before {
    min-height: 20dvh !important;
  }

  .index-categories {
    height: auto;
  }

  .index-category {
    font-size: 1.5rem;
  }

  .index-header {
    margin: 0px;
    font-size: 2rem;
    width: auto;
  }

  .index-logo {
    scale: 100%
  }

  .section-footer {
    width: 100%;
    margin-top: -5%;
    z-index: 0;
  }

  .section-header {
    padding-top: 5%;
  }

  .section-footer>a>.logo {
    width: 150px;
    height: 50px;
  }

  .footer-link {
    background-color: var(--background);
    border-radius: 5px;
  }

  .section-header>.logo {
    margin: 0% !important;
  }

  .header-logo {
    width: 250px !important;
  }

  .sub-title {
    font-size: .4rem;
  }

  #medicamentos-2>.svg {
    width: 100% !important;
  }

  #medicamentos-2>.row {
    max-width: 100% !important;
  }
}

/* ----------- Catalog Section ----------- */
