* {

  --admin-accent-1: #393939;
  --admin-accent-2: #2b2b2b;
  --admin-accent-3: orangered;

}

body {

  display: flex;
  min-height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h1,
h2,
h3,
p,
label,
a {
  color: whitesmoke;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
}

.admin-panel {
  width: min(1200px, 90%);
}

.search-panel {
  margin: 5% auto;
}

.admin-category {
  display: flex;
  margin-bottom: 2%;
  gap: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pageLink {
  cursor: pointer;
  color: white;
}

.pageLink:hover {
  color: var(--admin-accent-3);
}

.pageLink:hover>span {
  color: white;
}

.pageLink>span:hover {
  color: white;
}

.pageLink-active {
  color: orangered
}

.product-result {
  display: flex;
  padding: .5rem;
  gap: 1rem;
}

.product-result:nth-of-type(even) {
  background-color: var(--admin-accent-1);
}

.product-result:nth-of-type(odd) {
  background-color: var(--admin-accent-2);
}

.product-result>a:hover {
  color: var(--admin-accent-3);
}

.result-list>ul {
  padding-left: 0;
}

.misc-functions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .5rem;
  border-radius: .5rem;
}

.misc-functions>input.button {
  margin: 0 !important;
  cursor: pointer;
}

.csv-form {
  display: flex;
  gap: .5rem;
  margin-bottom: 5%;
}

.success-message {
  margin-top: 2%;
  text-align: center;
  color: var(--te);
  font-weight: bold;
}

.error-message {
  margin-top: 2%;
  text-align: center;
  color: var(--kiosco);
  font-weight: bold;
}

.button {
  margin-top: 1%;
  text-align: center;
  background-color: var(--admin-accent-3);
  border: 2px solid whitesmoke;
  color: whitesmoke;
  border-radius: .5rem;
  padding: .5% 3%;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.button:hover {
  color: #242424;
  background-color: orange;
}

.edit-button {
  background-color: var(--yerba);
}

.edit-button:hover {
  background-color: var(--te);
}

.delete-button {
  background-color: var(--kiosco);
}

.delete-button:hover {
  background-color: red;
  color: whitesmoke;
}

.product-submit {
  border: none;
  display: flex;
  justify-content: center;
  gap: 1rem
}

.modal-overlay {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  padding: 2%;
  max-width: 500px;
  max-height: 700px;
  overflow-y: auto;
  background: var(--background);
  border-radius: 12px;
}

.file-input {

  width: 20%;
  display: inline-flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;

}

@media (max-width: 500px) {

  .admin-category {
    flex-direction: column;
  }

  .misc-functions {
    flex-direction: column;
  }


  .file-input {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    padding: 4%;
  }
}
