/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}

html{
    font-size: 16px;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    /* max-width: 100%; */
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/*
10. Create a root stacking context
 */
#root, #__next {
    isolation: isolate;
}

body{
    background-color: grey;

}

section{
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    /* background-image: url("back.png"); */
    background-color: #ebebeb;
    /* background-size: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-row, .row{

    display: flex;
    justify-content: center;
    gap: 1.6%;
}

.header-row{
    margin-top: 40%;
}

.logo{
    margin-right: min(2%, 2rem);
    z-index: 1;
    height: auto;
    width: min(50%, 300px);
}
.header{
    transform: rotate(180deg);
    background-color: red;
    border-radius: 0% 0% 1rem 1rem;
    color: whitesmoke;
    text-align: center;
    font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
    padding: min(5%, 1rem);   
    padding-top: 0px;
}

.footer{
    margin-left: min(2%, 2rem);
    color: whitesmoke;
    z-index: 1;
}

.row{
    margin-top: 5%;
    max-width: 100%;
}

.column{
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 55ch;
    background-color: white;
    border-radius: 1rem;
}

.galletitas{
    border: solid 2px red;
    border-top: solid 20px red;
}

.product{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.prod-image{
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1/1 !important;
    object-fit: contain;
}

.inactive{
    filter: grayscale();
}

.prod-info{
    padding: min(.5rem, 2%);
}

.title{
    height: 2.5em;
    text-align: center;
    font-size: clamp(.3rem, .6vw + .3rem, 1.2rem);
}

.price{
    margin-top: 6%;
    font-size: clamp(.7rem, .6vw + .7rem, 1.4rem);
    color: whitesmoke;
    text-align: center;
    background-color: red;
    font-weight: 800;
    border-radius: 1em;
}

.galletitas-price{
    background-color: red;
    border-color: red;
}

/* navbar starts here */
.hidden{
    display: none !important;
}

@keyframes in-out {
  from {right: -30%;}
  to {right: 0%;}
}

.side-menu{
    display: initial;
    position: fixed;
    top: 0px;
    overflow: hidden;
    right: 0%;
    background-color: whitesmoke;
    height: 100dvh;
    min-width: min(30%, 400px);
    z-index: 3;
}

.anim-in{
    animation: in-out 1s ease-in-out;
}

.anim-out{
    animation: in-out 1s ease-in-out reverse;
}

.side-menu-item{
    list-style-type: none;
    margin-bottom: .5rem;
    font-size: clamp(.9rem, calc(2vw + .5rem), 1.6rem);
    scale: 100%;
    transition: scale .3s ease-in-out;
}

.side-menu-item:hover{
    scale: 105%;
}

.side-menu-item>a{
    text-decoration: none;
    color: black;
    transition: color .2s ease-in-out;
}

.side-menu-item>a:hover{
    color: royalblue;
}

.menu-toggle{
    background-color: whitesmoke;
    padding: 2%;
    border: 1px solid black;
    border-radius: .5em;
    color: black;
    position: fixed;
    right: 5%; 
    bottom: 5%;
    z-index: 2;
    cursor: pointer;
}

/* SVG starts here */
.svg {
    /* position: absolute; */
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 150px;
    left: 0;
    overflow: hidden;
    /* line-height: 0; */
    z-index: 1;
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
}

.section-footer{
    margin-top: 5%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: none;
}

.svg svg {
    position: absolute;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.svg .shape-fill {
    fill: #000000;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .svg svg {
        width: calc(165% + 1.3px);
        height: 150px;
    }
    .section-header {
        height: 100%;
    }
}

@media (max-width: 1000px){

    .column{
        width: auto;
    }

}

@media (max-width: 479px){


    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1em;
    }

    .column{
        width: 95%;
    }

    .price{
        font-size: clamp(1.2rem, 1vw + 1.2rem, 1.5rem);
    }
    .title{
        height: 4em;
        font-size: clamp(1rem, .5vw + 1rem, 1.125rem);
    }
}
